.DS_Store
.env
.yarn-integrity
.config/
.vscode/
yarn-debug.log
yarn-error.log
yarn.lock

node_modules/
# typings/
.scripts/
.prettierrc
# Gatsby files
.cache/
public
public_web
public_old
schema.json
schema.graphql


# VS Code Dev Environment
.vscode/
.config/
.prettierrc