.DS_Store
.env
.yarn-integrity
.config/
.vscode/
yarn-debug.log
yarn-error.log
.yarn*

node_modules/
# typings/
.scripts/
.prettierrc
# Gatsby files
.cache/
build
public
public_web
public_old
schema.json
schema.graphql

# VS Code Dev Environment
.vscode/
.config/
.prettierrc

# By-products of converting precalculate into TS
src/model/**/*.js
src/utils/**/*.js

battle_run_cache.json
battle_run_report.txt