name: Website CI Build PR

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Run cypress tests
        env:
          GATSBY_DATACORE_URL: https://datacore.app/
          GATSBY_ASSETS_URL: https://assets.datacore.app/
        uses: cypress-io/github-action@v2
        with:
          install-command: yarn install
          start: yarn run develop
          wait-on: 'http://localhost:8881/'
          wait-on-timeout: 240

      # after the test run completes
      # store videos and any screenshots
      # NOTE: screenshots will be generated only if E2E test failed
      # thus we store screenshots only on failures
      # Alternative: create and commit an empty cypress/screenshots folder
      # to always have something to upload
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      # Test run video was always captured, so this action uses "always()" condition
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
